#esp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eceef5;  
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #070b22;
    margin: 10px;
}

h2{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eceef5;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#tabla1{
    background-color: #526ae2;
    border-color: black;
    align-content: center;
    margin-top: 50px;
    float: left;
    margin-left: 50px;
    width: 400px;
    height: 400px;

}

#tabla2{
    background-color: #4e5fb3;
    margin-top: 50px;
    align-content: center;
    float: left;
    width: 400px;
    height: 400px;

}

#tabla3{
    background-color: #5d72d6;
    border-color: black;
    align-content: center;
    margin-top: 50px;
    float: left;
    margin-right: 50px ;
    width: 400px;
    height: 400px;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background-color: rgb(217, 244, 245);
    color:#fff;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 5vw;
    padding-right: 5vw;
}
.cont-ul{
    display: flex;
    align-items: center;
    background-color: rgb(54, 54, 54);
}
li{
    list-style: none;
    cursor:pointer;
    padding: 1.5vw;
    transition: all 1s ease 0s;
}
li:hover{
    background-color:#008849;
}
.develop{
    position: relative;
}
.develop>li:hover{
    background-color: #008849;
    display: none;
}
.ul-second{
    display: none;
    position:absolute;
    margin-top: 1.5vw;
}
.ul-second>li{
    width: 182px;
    transform: translateX(-20px);
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: #24252a;
}
.ul-second>li:hover{
    background-color: #008849;
}
.develop:hover>.ul-second{
    display: block;
}
.ul-third{
    position: absolute ;
    transform: translateX(-80%);
    right:-25%;
    top:75%;
    display: none;
    background-color: #24252a;
}
.ul-third>li{
    padding: 1.5vw;
    border-bottom:solid 1px #fff;

}
.front:hover>.ul-third{
    display:block;
}
@media(max-width:900px){
    .logo-danicodex{
        display:none;
    }
}